[submodule "source/poco-sphinx"]
	path = source/poco-sphinx
	url = https://git.atelo.org/etlapale/poco-sphinx.git
[submodule "source/plstim"]
	path = source/plstim
	url = https://git.atelo.org/etlapale/plstim.git
[submodule "source/wblanes"]
	path = source/wblanes
	url = https://git.atelo.org/etlapale/wblanes.git
[submodule "source/bibgen"]
	path = source/bibgen
	url = https://git.atelo.org/etlapale/bibgen.git
[submodule "source/inksyntax"]
	path = source/inksyntax
	url = https://git.atelo.org/etlapale/inksyntax.git
