/* http://paletton.com/#uid=c3v0B062m0kaVz84jP27qHbeJtFiHpX */

@font-face
{
  font-family : "Fira Sans Regular";
  src         : url("../fonts/FiraSansOT-Regular.otf")format("opentype");
}

body
{
  background   : rgb(238,238,236);
  color        : rgb(46,52,54);
  font-family  : "Fira Sans Regular", "Fira Sans", sans-serif;
  font-size    : 13pt;
  margin-left  : auto;
  margin-right : auto;
  width        : 50em;
}

div#content
{
  background-color    : rgb(255,255,255);
  background-image    : url("/images/woio.png");
  background-repeat   : no-repeat;
  background-position : bottom right;
  padding-left        : 8pt;
  padding-right       : 8pt;
  padding-top         : 1ex;
  padding-bottom      : 1ex;
  margin-top          : 8pt;
  margin-bottom       : 8pt;
  border-radius       : 4pt 4pt 4pt 4pt;
  position: relative;
}

.welcome {
}

.welcome h1
{
  color: #cf6656;
  font-size: 220%;
  font-weight: 900;
  float: left;
  margin-top: 0ex;
  margin-left: 0.25em;
}

.welcome img
{
  margin-top: 3.5ex;
  width: 9.3em;
}

#intro {
  float: right;
  margin-right: 4em;
  margin-top: 4ex;
  margin-bottom: 2ex;
}

.spacer {
  clear: both;
}

#intro span
{
  font-size: 140%;
  color: #9bb5c6;
  background-color: #ebf7fd;
  font-weight: bold;
  margin: 0;
  /*display: inline;*/
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 0.3em;

  display: block;
  float: left;
  clear: both;
  margin-bottom: 0.3ex;
}

#intro #name
{
  color: #466c84;
  font-weight: 900;
  font-size: 200%;
}

#intro #job
{
  background-color: #fff3e6;
  color: #ce9d68;
  font-size: 160%;
}

#intro a[href]
{
  border: none;
  color: #a1b2bd;
}

#intro a[href]:hover
{
  color: #879095;
  background-color: none;
}

#main-pages h2
{
  /*color: #8da264;*/
  color: #7b9f35;
  font-size: 150%;
  font-weight: bold;
  margin-top: 0.5ex;
  margin-bottom: 0.1ex;
  margin-left: 0;
}

#main-pages h2 span.fa
{
  text-align: right;
  color: #c4d0ab;
}

#main-pages #research
{
  float: left;
  width: 33%;
}

#main-pages #misc
{
  float: right;
  width: 33%;
}

#main-pages #code
{
  display: inline-block;
  width: 33%;
}

#main-pages .topic
{
  position: relative;
  border-radius: 1em;
}

#main-pages .topic:hover
{
  background-color: #fff3e6;
}

#main-pages .topic:hover h2
{
  color: #e98b25;
}

#main-pages .topic:hover h2 span.fa
{
  color: #d39047;
}

#main-pages .topic-spanner
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#contact
{
  color: #cf6656;
  background-color: #ffe9e6;
  /*border-radius: .25em;*/
  padding-left: .1em;
  padding-right: .1em;
  padding-top: .1ex;
  padding-top: .1ex;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 90%;
  z-index: 2;
  display: block;
  /*transform: rotate(-45deg);*/
}

#contact:hover
{
  color: #ffa94c;
  background-color: #fff3e6;
}

#navbar
{
  color: #cf6656;
  /*background-color: #ffe9e6;*/
  /*border-radius: .25em;*/
  padding-left: .1em;
  padding-right: .1em;
  padding-top: .1ex;
  padding-top: .1ex;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 90%;
  z-index: 2;
  display: block;
  margin: 0;
  font-size: 125%;
  list-style: none;
}

#navbar li
{
  display: inline;
  margin-left: .2em;
  margin-right: .2em;
}

#navbar a[href]
{
  color: #c4d0ab;
  text-decoration: none;
}

#navbar a[href]:hover
{
  color: #d35a47;
  text-decoration: none;
}

span.at:before
{
  content: "@";
}

.welcome p
{
  margin: 0;
}

#misc ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

#misc a[href]
{
  color: #8b765f;
  position: relative;
  z-index: 2;
}

#misc a[href]:hover
{
  color: #d35a47;
}

/* Other pages */

h1
{
  font-size: 220%;
  font-weight: 900;
  float: left;
  margin-top: 0;
  margin-left: 0;
  float: none;
}


/* Old style */

div#header
{
  margin-bottom : 0pt;
  color         : rgb(136,138,133);
}

div#header a[href]
{
  color : rgb(136,138,133);
}

div#header div#logo
{
  float       : left;
  font-size   : 20pt;
  font-weight : 400;
}

div#header div#logo a[href]
{
  color         : rgb(186,189,182);
  border-bottom : dotted 0pt rgb(251,212,212);
}

div#header div#navigation
{
  text-align   : right;
  font-variant : small-caps;
}

div#header div#navigation a[href]
{
  border-bottom : dotted 0pt rgb(251,212,212);
}

div#footer
{
  font-size  : 10pt;
  color      : rgb(136,138,133);
  text-align : right;
}

div#footer a[href]
{
  color : rgb(136,138,133);
}


pre
{
  margin       : 4pt 4pt 8pt 4pt;
  border-left  : solid 0.5em rgb(233,226,211);
  padding-left : 1em;
}

a
{
  text-decoration : none;
}

code
{
  font-family : "Fira Mono", sans-serif;
  font-size   : 13pt;
}


ul li p:before
{
  color   : rgb(252,175,62);
  content : "» ";
}

ul#recent-posts
{
  font-size     : 10pt;
  margin-top    : 0pt;
  margin-bottom : 0pt;
}

div#welcome
{
  padding-right : 188px;
}

div.info
{
  color         : rgb(186,189,182);
  font-size     : 10pt;
  margin-top    : -8pt;
  margin-bottom : 12pt;
}

div.figure
{
  text-align : center;
}

p.caption
{
  color      : rgb(136,138,133);
  font-style : italic;
  font-size  : 10pt;
}

.more
{
  text-align : right;
  font-size  : 11pt;
  margin-top : -4pt;
}

blockquote
{
  font-style : italic;
  text-align : right;
}


/* Generated with Clay, http://fvisser.nl/clay */